<% include pageHeader %>

<% include pageNavbar %>

<div class="container-fluid">
    <div class="row justify-content-center space-before-100">

        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h1 class="display-4">
                        About Hotstock
                    </h1>
                </div>
                <div class="card-body">
                    <p class="lead text-justify">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur non augue et nisi porttitor pretium. Mauris vel neque vitae orci luctus aliquet. Nulla facilisi. Donec in mi. Curabitur semper massa quis diam. Ut dignissim elit at nisi. Mauris nec ipsum. Nunc ac quam. Donec in diam. Phasellus tempus scelerisque justo.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<% include pageFooter %>